body {

    padding: 0;

    margin: 0;

}

.navbar {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #00ff;
    z-index: 99;
}

nav a {
    color: #fff;
    margin: auto 20px auto 40px;
    text-decoration: none;
    font-weight: bold;
}

nav li {
    float: left;
    list-style: none;
    margin-left: 20px;
}
.login{
    color: #fff;
    margin: auto 20px auto 40px;
    text-decoration: none;
    font-weight: bold;
    background-color: aqua;
    align-items: end;
}
.content{
    display: flex;

}